<!--<h1>Books#new</h1>-->
<!--<p>Find me in app/views/books/new.html.erb</p>-->

<h2>New Book</h2>
<%= form_with model: Book.new do |f|%>
  <div class="field">
    <label for="title">Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <label for="book_body">Body</label>
    <%= f.text_area :body %>
  </div>
  <% f.submit 'Create Book' %>
<% end %>